/* pallete{
    dark-blue: #0b1c2e;
    blue:#072548;
    dark-pink: #b49aa7;
    grey:#ababab;
    pink:#cbb1bc;
}  */

body{
    position: relative;
    font-family: 'Playfair Display', serif;
    padding-bottom: 10%;
}
.nav {
    padding-left: 0;
}
.nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
.container {
    width: 940px;
    margin: 0 auto
}
.content {
    float: left;
    width: 80%;
}
.sidebar {
    float: left;
    width: 20%;
}
#navbar ul li{
    margin-right: 15px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    margin-bottom: 0px;
    background-color:#4e5458;
    color: lightgray;
    box-shadow: -1.5px -1.5px 5px 0.5px rgba(168,168,168,0.57);
    opacity: 0.8;
    z-index: 10;
}

.card-product-image {
    max-height: 250px;
    min-height: 250px;
}

.detail-product-image {
    max-width:250px;
    max-height: 250px;
    min-height: 250px;
}

.card-shadow {
    border: none;
    box-shadow: 1.5px 1.5px 5px 0.5px rgba(168,168,168,0.57);
}

.card , .dropdown-menu, .btn  {
    border-radius: 0em;
}

#navbar{
    box-shadow: 1.5px 1.5px 5px 0.5px rgba(168,168,168,0.57);
}

.form-button {
    display: block;
    width: 100%;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    cursor: pointer;
    border-radius: 0em;
}

.modal-content {
    border-radius: 0em !important;
}

.text-shadow {
    text-shadow: 2px 2px 2px grey;
}