body{
    font-family: 'Playfair Display', serif;
}
.nav {
    padding-left: 0;
}
.nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
.container {
    width: 940px;
    margin: 0 auto
}
.content {
    float: left;
    width: 80%;
}
.sidebar {
    float: left;
    width: 20%;
}
#navbar ul li{
    margin-right: 15px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(51, 49, 49);
    color: white;
}

.card-product-image {
    max-height: 250px;
    min-height: 250px;
}

.detail-product-image {
    max-width:250px;
    max-height: 250px;
    min-height: 250px;
}

.card-shadow {
    border: none;
    box-shadow: 1.5px 1.5px 5px 0.5px rgba(168,168,168,0.57);
}

.card {
    border-radius: 0em;
}

.btn {
    border-radius: 0em;
}