{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
        <!-- displaying messages if there is any: -->
        {% if messages %}
        <div class="row mt-4">
            {% for message in messages %}
                <div class="col-lg-3"></div>
                    {% if message.level == 25 %}
                        <div class="alert alert-dismissible alert-success col-lg-6 col-md-12">
                            {{ message }}
                        </div>
                    {% elif message.level == 40 %} 
                        <div class="alert alert-dismissible alert-danger col-lg-6 col-md-12">
                            {{ message }}
                        </div>
                    {% endif %}
                <div class="col-lg-3"></div>
            {% endfor %}
        </div>
    {% endif %}
    <!-- end of messages snippet -->
        <h3>Order Number: {{ order.order_id }}</h3>
        <h3>Order Status: {{ order.status }}</h3>
        {% if not order.status == 'Cancelled' %}
        <h3>Items in the Order:</h3>
        {% endif %}
    {% for item in order.items.all %}
    <div class="row mt-4">
        <div class="col-12">
            <div class="card" >
                <div class="card-body">
                    <a href={% url  'store:product_detail' pk=item.product.pk %} class="card-title">{{ item.product.name }}</a>
                    <h5 class="card-text">Unit Price: {{ item.product.price }} EGP</h5>
                    <h5 class="card-text">Quantity: {{ item.quantity }}</h5>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if order.status != 'Cancelled' %}
        <div class="mt-3">
                <h2>Total amount = {{ order.total_price }} L.E.</h2>
                <h2>Estimated delivery date = {{ order.expected_delivery_date }}</h2>

                <a href={% url  'store:cancel_order' pk=order.pk %} class="btn btn-primary">Cancel Order</a>
        </div>
    {% endif %}
</div>

{% endblock content %}