{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container" style="margin-bottom:232px;">
        <!-- displaying messages if there is any: -->
        {% if messages %}
        <div class="row mt-4">
            {% for message in messages %}
                <div class="col-lg-3"></div>
                    {% if message.level == 25 %}
                        <div class="alert alert-dismissible alert-success col-lg-6 col-md-12">
                            {{ message }}
                        </div>
                    {% elif message.level == 40 %} 
                        <div class="alert alert-dismissible alert-danger col-lg-6 col-md-12">
                            {{ message }}
                        </div>
                    {% endif %}
                <div class="col-lg-3"></div>
            {% endfor %}
        </div>
    {% endif %}
    <!-- end of messages snippet -->
    <div class="card card-shadow p-5 my-5">

        <pre>Order Number: {{ order.order_id }}</pre>
        <hr>
        <pre>Order Status: {{ order.status }}</pre>
        {% if not order.status == 'Cancelled' %}
        <pre>Items in the Order:</pre>
        {% endif %}
    {% for item in order.items.all %}
    <div class="row mt-4">
        <div class="col-12">
            <div class="card" >
                <div class="card-body">
                    <pre><a href={% url  'store:product_detail' pk=item.product.pk %} class="card-title">{{ item.product.name }}</a></pre>
                    <pre class="card-text">Unit Price: {{ item.product.price }} EGP</pre>
                    <pre class="card-text">Quantity: {{ item.quantity }}</pre>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if order.status != 'Cancelled' %}
        <div class="mt-3">
                <pre>Shipping fees: {{ shipping_fees }} L.E.</pre>
                <pre>Total amount = {{ order.total_price }} L.E.</pre>
                <pre>Estimated delivery date = {{ order.expected_delivery_date }}</pre>
                {% if order.status == 'Under Preparation' %}
                <pre class="row m-2">
                <button type="button" class="btn btn-danger ml-auto" data-toggle="modal" data-target="#cancelModal">
                    Cancel Order
                </button>
                </pre>
                {% endif %}
        </div>
    {% endif %}
            <!-- Modal -->
            <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelModalLabel">Cancel Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Back">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to cancel this order?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href={% url  'store:cancel_order' pk=order.pk %} class="btn btn-danger">Cancel Order</a>
                </div>
                </div>
            </div>
            </div>
</div>
</div>
{% endblock content %}






