{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card card-shadow m-5" >
                    <img class="card-img-top detail-product-image mx-auto mt-3" {% if product.image %} src="{{ product.image.url }}" {% else %} src="{% static 'img/NA.png' %}" {% endif %} alt="Product Image">
                    
                    <div class="card-body">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <p class="card-text">{{ product.description }}</p>
                        <h5 class="card-text">{{ product.price }} EGP</h5>
                        <h5 class="card-text">Remaining stock: {{ product.remaining_stock }}</h5>
                    </div>
                    <div class="ml-auto m-3">

                        <a href={% url 'store:add_to_cart' product_pk=product.pk quantity=1 %} class="btn btn-success">Add to cart!</a>
                        <a href={% url 'store:product_list' %} class="btn btn-primary">Continue Shopping!</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}