{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">    
<div class="row mt-4">
        <!-- Messages -->
        <div class="col-lg-3 col-sm-12"></div>
        {% if messages %}
        {% for message in messages %}
        {% if message.level == 25 %}
        <div class="alert alert-dismissible alert-success col-lg-6 col-md-12">
                {{ message }}
        </div>
        {% elif message.level == 40 %} 
        <div class="alert alert-dismissible alert-danger col-lg-6 col-md-12">
                {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <div class="row mt-4">
        {% for product in products %}
        <div class="col-12 col-m-6 col-lg-4 mb-5">
                <div class="card card-shadow h-100" >
                    <img class="card-img-top card-product-image" {% if product.image %} src="{{ product.image.url }}" {% else %} src="{% static 'img/NA.png' %}" {% endif %} alt="Product Image">
                        <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description |truncatechars:100}}</p>
                        </div>
                        <div class="card-footer">
                            <h5 class="card-text">{{ product.price }} EGP</h5>
                            <a href={% url  'store:product_detail' pk=product.pk %} class="btn btn-info btn-block">Learn More!</a>
                        </div>
                      </div>
        </div>
        {% endfor %}
    </div>
    <div class="row card card-shadow m-2">
            <div class="card-header">
            <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#search-filter" aria-expanded="false" aria-controls="search-filter">
                <span><i class="far fa-minus-square"></i></span> Search and filter products
            </button>
            </h5>
            </div>
            <div id="search-filter" class="collapse">
                <div class="card-body" aria-labelledby="search-filter">
                <small>You can combine multiple types of filters together with search.</small>
                <form action={% url 'store:product_list'  %} method="GET">
                    <div class="form-row">
                        <div class="form-group col-md-12 col-lg-6">
                            <label for="search">Search products by name:</label>
                            <input class="form-control" type="text" name="search" placeholder="Search">
                        </div>
                        <div class="form-group col-md-12 col-lg-6">
                            <label for="sort">Sort prices:</label>
                            <select class="form-control" name="sort">
                                <option value="">--</option>
                                <option value="a">Ascending</option>
                                <option value="d">Descending</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 col-lg-6">
                            <label for="max_price">Filter by maximum price:</label>
                            <input class="form-control" type="number" name="max_price" placeholder="Maximum Price">
                        </div>
                        <div class="form-group col-md-12 col-lg-6">
                            <label for="min_price">Filter by minimum price:</label>
                            <input class="form-control" type="number" name="min_price" placeholder="Minimum Price">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group ml-auto">
                            <input type="submit" class="btn btn-primary" value="Search and filter">
                            <a href={% url 'store:product_list' %} class="btn btn-success">Reset</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <nav aria-label="Product navigation">
            <ul class="pagination card-shadow">
                {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% if sort%}sort={{ sort }}&{% endif %}{% if search%}search={{ search }}&{% endif %}{% if max_price %}max_price={{ max_price }}&{% endif %}{%if min_price %}min_price={{ min_price }}&{% endif %}page={{ products.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% endif %}

                {% for page in products.paginator.page_range %}
                {% if page == products.number %}
                <li class="page-item active">
                {% else %}
                <li class="page-item">
                {% endif %}
                <a class="page-link" href="?{% if sort%}sort={{ sort }}&{% endif %}{% if search%}search={{ search }}&{% endif %}{% if max_price %}max_price={{ max_price }}&{% endif %}{%if min_price %}min_price={{ min_price }}&{% endif %}page={{page}}">{{page}}</a>
                </li>
                {% endfor %}
                {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{% if sort%}sort={{ sort }}&{% endif %}{% if search%}search={{ search }}&{% endif %}{% if max_price %}max_price={{ max_price }}&{% endif %}{%if min_price %}min_price={{ min_price }}&{% endif %}page={{ products.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock content %}
