{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}
<div class="container" style="margin-bottom:34px;">
    <!-- displaying messages if there is any: -->
    {% if messages %}
        <div class="row mt-4">
            {% for message in messages %}
                <div class="col-lg-3"></div>
                    {% if message.level == 25 %}
                        <div class="alert alert-dismissible alert-success col-lg-6 col-md-12">
                            {{ message }}
                        </div>
                    {% elif message.level == 40 %} 
                        <div class="alert alert-dismissible alert-danger col-lg-6 col-md-12">
                            {{ message }}
                        </div>
                    {% endif %}
                <div class="col-lg-3"></div>
            {% endfor %}
        </div>
    {% endif %}
    <!-- end of messages snippet -->
    <div class="row mt-2">
        <h2>Your Cart:</h2>
    </div>
    <div class="row mt-4">
        {% if not cart.items.all.count %}
        <div class="col-12 text-center" style="margin-bottom:275px;">
            <h1>Your Cart is currently empty!</h1>
            <a href="{% url 'store:product_list' %}" class="btn btn-outline-primary">Continue Shopping!</a>
        </div>
        {% else %}
            {% for item in cart.items.all %}
                    <div class="card card-shadow col-12 mb-3" >
                        <div class="container">
                            <div class="row">
                        <img class="col-md-12 col-lg-4 card-img-top detail-product-image mt-3 ml-3" {% if item.product.image %} src="{{ item.product.image.url }}" {% else %} src="{% static 'img/NA.png' %}" {% endif %} alt="Product Image">
                        
                            <div class="col-md-12 col-lg-8 card-body">
                                <h5 class="card-title">{{ item.product.name }}</h5>
                                <p class="card-text">{{ item.product.description }}</p>
                                <h5 class="card-text">Unit Price: {{ item.product.price }} EGP</h5>
                                <h5 class="card-text">Quantity: {{ item.quantity }}</h5>
                                <form class="mb-3" method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                    {% if not field.name == "item_pk" %}
                                        {% bootstrap_field field %}
                                    {% else %}
                                        <input type="hidden" name="item_pk" value={{ item.pk }}>
                                    {% endif %}
                                    {% endfor %}
                                    <input class="btn btn-outline-warning" type="submit" value="Change">
                                </form>
                                </div>
                            </div>

                        </div>
                        <div class="ml-auto m-3">
                                <a href={% url  'store:product_detail' pk=item.product.pk %} class="btn btn-outline-primary">Product details</a>
                                <a href={% url  'store:remove_from_cart' product_pk=item.product.pk %} class="btn btn-outline-danger">Remove from cart</a>
                            </div>
                    </div>
            {% endfor %}
    </div>
            <div class="row my-3">
                    <h4 class="col-lg-8 col-md-12">Shipping fees: {{ shipping_fees }} L.E.</h4>
                    <h3 class="col-lg-8 col-md-12">Total amount = {{ cart.total_price }} L.E.</h3>
                    <a href={% url  'store:checkout' %} class="btn btn-success col-lg-4 col-md-12">Checkout</a>
            </div>
        {% endif %}
</div>

{% endblock content %}